.project-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 0 30%;
}

.project-title {
  color: #eee;
  margin-bottom: 10px;
}

.project-item {
  width: 100%;
  height: 240px;
  border: 2px solid #fff;
  overflow: hidden;
  border-radius: 0.8rem;
  margin-bottom: 1rem;

  &:hover {
    cursor: pointer;
    & .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
  }
  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
}

.project-icon:hover {
  color: #55c57a;
}
