*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
  background-color: rgb(22, 22, 29);
}

.hero-container {
  background-image: url(../../assets/hero.jpg);
  height: 92vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  padding-left: 18rem;
}

.heading > .heading-main {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 700;
  color: #eee;
  animation: moveToRight 1s ease-in-out;
}

.tool {
  font-size: 3rem;
  font-weight: 700;
  color: #eee;
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  padding-left: 15rem;
}

.tool-title {
  animation: moveToLeft 1s ease-in-out;
  width: 35rem;
  margin-bottom: 3rem;
}

.tool-item {
  font-size: 2rem;
}

.tool-item > p {
  margin-bottom: 1rem;
}

.name {
  color: #55c57a;
}

.tool-logo {
  margin: 1rem 2rem 1rem 0;
  transition: all 0.1s;
  animation: moveUp 1s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}

.btn {
  display: flex;
  justify-content: center;
  width: 20rem;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 600;
  border: 0.2rem solid #55c57a;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 1.5rem 0;
  animation: moveUp 1s ease-in-out;
  transition: all 0.2s;

  &:hover {
    background-color: #55c57a;
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
  }
}

.btn-white {
  color: #eee;
}

.github-button {
  display: block;
  position: absolute;
  top: 100px;
  right: 50px;
  border-bottom: 1px solid #55c57a;
  padding-bottom: 2px;

  &:horver {
    background-color: #55c57a;
  }
}

@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    transform: translateX(0);
  }
}
